{% extends 'base.html' %}

<body>

{% block content %}    
    <!-- ################# Our Team Starts Here####################### -->

{% block thead %} About Us {% endblock thead %}

 <!--  ************************* About Us Content Start Here  ************************** -->
            <div class="about-us">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <img src="{{url_for('static', filename="images/blog/blog_01.jpg")}}" alt="">
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <h2>Welcome to  Smart Hospital Clinic</h2>
                            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam varius eros consequat auctor gravida. Fusce tristique lacus at urna sollicitudin pulvinar. Suspendisse hendrerit ultrices mauris.Fusce tristique lacus at urna sollicitudin pulvinar. Suspendisse hendrerit ultrices mauris.</p>
                            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam varius eros consequat auctor gravida. Fusce tristique lacus at urna sollicitudin pulvinar. Suspendisse hendrerit ultrices mauris.Fusce tristique lacus at urna sollicitudin pulvinar. Suspendisse hendrerit ultrices mauris.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam varius eros consequat auctor gravida. Fusce tristique lacus at urna sollicitudin pulvinar. Suspendisse hendrerit ultrices mauris.Fusce tristique lacus at urna sollicitudin pulvinar. Suspendisse hendrerit ultrices mauris.</p>
                            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam varius eros consequat auctor gravida. Fusce tristique lacus at urna sollicitudin pulvinar. Suspendisse hendrerit ultrices mauris.Fusce tristique lacus at urna  adipiscing  </p>
                            
                        </div>
                    </div>
                    
                </div>
            </div>
        
        <!-- ######## About US End ####### -->
        
        


    <!-- ################# Our Team Starts Here####################### -->


    <section class="our-team">
        <div class="container">
            <div class="inner-title">
                <h2>Meet our Team</h2>
                <p>Take a look at our innovative and experiance team</p>
            </div>
            <div class="row team-member">
                <div class="col-md-3 col-sm-6">
                    <div class="user-card">
                        <div class="userar">
                            <img class="teammempic" alt="" src="{{url_for('static', filename="images/team/team0.jpg")}}">
                        </div>
                        <div class="detfs">
                            <p>Chetan Pandey</p>
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f fa-lg"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter fa-lg"></i></a></li>
                                <li><a href="#"><i class="fab fa-google-plus-g fa-lg"></i></a></li>
                                <li><a href="#"><i class="fab fa-github fa-lg"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest-p fa-lg"></i></a></li>
                            </ul>
                            <br>
                            <p >Student at Indian Institute of Technology(ISM) Dhanbad</p>

                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="user-card">
                        <div class="userar">
                            <img class="teammempic" alt="" src="{{url_for('static', filename="images/team/team2.jpg")}}">
                        </div>
                        <div class="detfs">
                            <p>Prakrit Raj</p>
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f fa-lg"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter fa-lg"></i></a></li>
                                <li><a href="#"><i class="fab fa-google-plus-g fa-lg"></i></a></li>
                                <li><a href="#"><i class="fab fa-github fa-lg"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest-p fa-lg"></i></a></li>
                            </ul>
                            <br>
                            <p >Student at Indian Institute of Technology(ISM) Dhanbad</p>


                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="user-card">
                        <div class="userar">
                            <img class="teammempic" alt="" src="{{url_for('static', filename="images/team/team3.jpg")}}">
                        </div>
                        <div class="detfs">
                            <p>Saksham Aggarwal</p>
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f fa-lg"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter fa-lg"></i></a></li>
                                <li><a href="#"><i class="fab fa-google-plus-g fa-lg"></i></a></li>
                                <li><a href="#"><i class="fab fa-github fa-lg"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest-p fa-lg"></i></a></li>
                            </ul>
                              <br>   
                            <p >Student at Indian Institute of Technology(ISM) Dhanbad</p>


                        </div>
                    </div>

                </div>
                
                
            </div>
        </div>
    </section>
{% endblock %}


</body>


</html>