{% extends 'base.html' %}

<body>

{% block content %}    

{% block thead %} About Us {% endblock thead %}

            <div class="about-us">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <img src="{{url_for('static', filename="images/blog/blog_01.jpg")}}" alt="">
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <h2>Welcome to  Smart Clinic</h2>
                            <p> We at Smart Clinic provide fast dagnosis report for a number of diseases ( <a href="{{url_for("service")}}">Check Here </a> ) using Artificial Intelligence </p>
                            <p> We just need the specified report for the disease and our model will predict whether you are infected or not. This way we reduce the need of a doctor to a greater extent, saving both your time and money.</p>
                            
                        </div>
                    </div>
                    
                </div>
            </div>
        
        <!-- ######## About US End ####### -->

{% endblock %}


</body>


</html>