{% extends 'base.html' %}

{% block thead %}Breast Cancer{% endblock thead %}

{% block content %} 

<div class="container" style="margin: 10rem">
    <h1 style="margin: auto; font-weight: 600; text-align: center;">Upload Image</h1>
    <div style="width: 85%; margin: auto;">
        <form action="/services/breast" method="POST" enctype="multipart/form-data">
            <label class="form-label" for="image">Choose Image</label>
            <input type="file" class="form-control" name="image" id="image" />
            <button type="submit" id="singlebutton" name="singlebutton" class="new-btn-d" style="background-color: grey;margin: auto; padding:0.5rem" type="submit">Upload Image</button>
        </form>
    </div>
</div>

{% if predicted==True %}

<div class="container">
    <div style="margin: auto; padding: 2rem">
        <p style="font-size: 1.5rem;">
            <span style="font-size: 2rem; font-weight: 600;"> Result: </span>
            {% for data in supplied_text %}
                <br>
                <li><h6>{{data}} : {{supplied_text[data]}}</h6> </li>
            {% endfor %}
        </p>
    </div>
</div>

{% endif %}

{% endblock content %}