{% extends 'base.html' %}

<body>

{%block content%}


    
    <!-- ################# Our Team Starts Here#######################-->
{% block thead %}Contact Us{% endblock thead %} 

    <div style="margin-top:0px;" class="row no-margin">
        <iframe style="width:100%" src="https://maps.google.com/maps?q=Jhunsi,%20Allahabad&t=&z=13&ie=UTF8&iwloc=&output=embed"  height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div class="row contact-rooo no-margin">
        <div class="container">
        <div class="row">
            
        
            <div style="padding:20px" class="col-sm-6">
            <h2 style="font-size:18px">Contact Form</h2>
                <div class="row">
                    <div style="padding-top:10px;" class="col-sm-3"><label>Enter Name </label></div>
                    <div class="col-sm-8"><input type="text" placeholder="Enter Name" name="name" class="form-control input-sm"  ></div>
                </div>
                <div style="margin-top:10px;" class="row">
                    <div style="padding-top:10px;" class="col-sm-3"><label>Email Address </label></div>
                    <div class="col-sm-8"><input type="text" name="name" placeholder="Enter Email Address" class="form-control input-sm"  ></div>
                </div>
                <div style="margin-top:10px;" class="row">
                    <div style="padding-top:10px;" class="col-sm-3"><label>Mobile Number</label></div>
                    <div class="col-sm-8"><input type="text" name="name" placeholder="Enter Mobile Number" class="form-control input-sm"  ></div>
                </div>
                <div style="margin-top:10px;" class="row">
                    <div style="padding-top:10px;" class="col-sm-3"><label>Enter Message</label></div>
                    <div class="col-sm-8">
                    <textarea rows="5" placeholder="Enter Your Message" class="form-control input-sm"></textarea>
                    </div>
                </div>
                <div style="margin-top:10px;" class="row">
                    <div style="padding-top:10px;" class="col-sm-3"><label></label></div>
                    <div class="col-sm-8">
                    <button class="btn btn-danger btn-sm">Send Message</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                    
                <div style="margin:50px" class="serv"> 
                
        <h2 style="margin-top:10px;">Address</h2>

    Still Unknown<br>
    <br>
    Phone:+91 xxxxxxxxxxx<br>
    Email:info@smart-eye.in<br>
    Website:www.xyz.com<br>

        </div>    
                
        </div>

            </div>
        </div>
        
    </div>   
{% endblock %}

</body>


</html>