{% extends 'base.html' %}

<body>


{% block content %}

    
    <!-- ################# Our Team Starts Here####################### -->

{% block thead %} Services {% endblock thead %}



<section class="key-features kf-2">
        <div class="container">
            <div class="inner-title">

                <h2>Our Services</h2>
                <p>To diagnose a disease just upload the specified image and get your results</p>
            </div>

            <div class="row">
                <a href="{{url_for('alzheimersdetection')}}"  class="col-md-4 col-sm-6"><div>
                    <div class="single-key">
                        <!-- <i class="fas fa-hospital-alt"></i> -->
                        <h5>Alzheimer</h5>
                        <p> Upload your MRI Scan and get your result </p>
                    </div>
                    </div></a>

                <a href="{{url_for('aptos')}}"  class="col-md-4 col-sm-6"><div>
                    <div class="single-key">
                        <!--<i class="fas fa-user-md"></i>-->
                        <h5>Diabetic Retinopathy</h5>
                        <p>Upload your retina image and get the severity of diabetic retinopathy</p>
                    </div>
                </div></a>

                <a href="{{url_for('melanoma')}}"  class="col-md-4 col-sm-6"><div>
                    <div class="single-key">
                        <!--<i class="fas fa-briefcase-medical"></i>-->
                        <h5>Melanoma</h5>
                        <p>Upload your dermoscopic image and get which skin cancer you are likely to have</p>
                    </div>
                </div></a>

                <a href="{{url_for('breast')}}" class="col-md-4 col-sm-6"><div >
                    <div class="single-key">
                        <!--<i class="fas fa-capsules"></i>-->
                        <h5>Breast Cancer</h5>
                        <p>Upload your ultrasound images </p>
                    </div>
                </div></a>

                <a href="{{url_for('pneumonia')}}" class="col-md-4 col-sm-6"><div>
                    <div class="single-key">
                        <!--<i class="fas fa-prescription-bottle-alt"></i>-->
                        <h5>Pneumonia</h5>
                        <p> </p>
                        </div>
                </div></a>
            </div>
        </div>

    </section>

{% endblock content %}

</body>

</html>